asgiref==3.11.0
coverage==7.13.1
Django==5.2.9
django-ratelimit==4.1.0
djangorestframework==3.16.1
flake8==7.3.0
gunicorn==23.0.0
mccabe==0.7.0
packaging==25.0
pycodestyle==2.14.0
pyflakes==3.4.0
python-dotenv==1.2.1
sqlparse==0.5.5
typing_extensions==4.15.0
